<div class="circular-range">
  <div class="circular-range__bg"></div>
  <div class="circular-range__info">
    <span class="circular-range__value">+23</span>
  </div>
  <div class="circular-range__scale">
    <div class="circular-range__path">
      <div class="circular-range__inner"></div>
    </div>
    {#<div class="circular-range__path"></div>#}
    {#<div class="circular-range__path"></div>#}
    {#<div class="circular-range__path"></div>#}
  </div>
</div>
