<div class="content-card {{ class }}">
  <img class="content-card__icon" src="{{ item.icon }}" width="24" height="24" alt="" />
  <p class="content-card__name">{{ item.name }}</p>
  {% if item.status %}
    <span class="content-card__status">{{ item.status }}</span>
  {% endif %}
</div>
