<main class="dashboard">
  <div class="row">
    <div class="col-6">
      {% include "./info.twig" %}
    </div>
    <div class="col-6">
      {% include "./scenarios.twig" %}
    </div>
  </div>
  {% include "./devices.twig" %}
</main>
