<main class="dashboard">
  <div class="container">
    <h1 class="visually-hidden">Панель приборов</h1>
    <div class="dashboard__container">
      <div class="dashboard__info-wrapper">
        {% include "./info.twig" %}
      </div>
      <div class="dashboard__scenarios-wrapper">
        {% include "./scenarios.twig" %}
      </div>
    </div>
  </div>
  {% include "./devices.twig" %}
  {% include "./modal.twig" %}
</main>
