<footer class="footer">
  <div class="footer__container container">
    <ul class="secondary-nav">
      <li class="secondary-nav__item">
        <a class="secondary-nav__link link" href="#">Помощь</a>
      </li>
      <li class="secondary-nav__item">
        <a class="secondary-nav__link link" href="#">Обратная связь</a>
      </li>
      <li class="secondary-nav__item">
        <a class="secondary-nav__link link" href="#">Разработчикам</a>
      </li>
      <li class="secondary-nav__item">
        <a class="secondary-nav__link link" href="#">Условия использования</a>
      </li>
    </ul>
    <div class="copyright">
      © 2018
      <a class="link" href="https://yandex.ru">ООО «Яндекс»</a>
    </div>
  </div>
</footer>
