<footer class="footer">
  <ul class="secondary-nav">
    <li class="secondary-nav__item">
      <a class="secondary-nav__link" href="#">Помощь</a>
    </li>
    <li class="secondary-nav__item">
      <a class="secondary-nav__link" href="#">Обратная связь</a>
    </li>
    <li class="secondary-nav__item">
      <a class="secondary-nav__link" href="#">Разработчикам</a>
    </li>
    <li class="secondary-nav__item">
      <a class="secondary-nav__link" href="#">Условия использования</a>
    </li>
  </ul>
  <div class="copyright">
    © 2018
    <a href="https://yandex.ru">ООО «Яндекс»</a>
  </div>
</footer>
