<header class="header">
  <nav class="main-nav">
    <a class="main-nav__logo">
      <img class="main-nav__logo-image" src="images/logo@1x.png" width="108" height="27" alt="Яндекс дом лого" />
    </a>
    <button class="main-nav__toggler" aria-label="Открыть меню" type="button"></button>
    <ul class="main-nav__menu menu">
      <li class="menu__item">
        <a class="menu__link">Сводка</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Устройства</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Сценарии</a>
      </li>
    </ul>
  </nav>
</header>
