{% set devices = [{
  icon: "images/temperature.svg",
  name: "Philips Cooler",
  status: "Начнет охлаждать в 16:30",
  type: "heat"
}, {
  icon: "images/sun.svg",
  name: "Xiaomi Yeelight LED Smart Bulb",
  status: "Включится в 17:00",
  type: "lighting"
}, {
  icon: "images/sun-colored.svg",
  name: "Philips Cooler",
  status: "Начнет охлаждать в 17:30",
  type: "lighting"
}, {
  icon: "images/sun-colored.svg",
  name: "Xiaomi Smart",
  status: "Начнет охлаждать в 18:30",
  type: "lighting"
}] %}

<section class="info">
  <h2 class="info__title section-title">Главное</h2>
  <div class="info__card">
    <div class="info__content">
      <p class="info__greeting">Привет, Геннадий!</p>
      <p class="info__status-message">Двери и окна закрыты, сигнализация включена</p>
      <div class="info__temperature temperature-info">
        <div class="temperature-info__item">
          <span class="temperature-info__caption">Дома</span>
          <div class="temperature-info__content">
            <span class="temperature-info__value">+23</span>
          </div>
        </div>
        <div class="temperature-info__item">
          <span class="temperature-info__caption">За окном</span>
          <div class="temperature-info__content">
            <span class="temperature-info__value">+19</span>
            <img class="temperature-info__icon" src="images/cloud-drizzle.svg" width="20" height="20" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="info__devices">
      <h3 class="visually-hidden">Ближайшие сценарии</h3>
      <ul class="info__devices-list">
        {% for item in devices %}
          <li class="info__devices-item">
            {% include "card.twig" with {item, class: "card--device"} %}
          </li>
        {% endfor %}
      </ul>
      <div class="info__list-arrow">
        <img src="images/arrow-double.svg" alt="" />
      </div>
    </div>
  </div>
</section>
