{% set filters = [{
  text: "Вручную",
  isActive: true
}, {
  text: "Холодно"
}, {
  text: "Тепло"
}, {
  text: "Жарко"
}] %}

{% set content %}
  <div>
    {% include "./filter.twig" with {filters, class: "modal__filter"} %}
    <div class="temperature-range" id="temperature-range"></div>
  </div>
{% endset %}

{% set header %}
  {% include "./temperature-indicator.twig" %}
{% endset %}

{% include "modal.twig" with {
  class: "temperature-modal",
  title: "Elgato Eve Degree Connected",
  subtitle: "Включено",
  header,
  content,
  type: "temperature"
} %}
