{% set filters = [{
  text: "Вручную",
  isActive: true
}, {
  text: "Холодно"
}, {
  text: "Тепло"
}, {
  text: "Жарко"
}] %}

{% set content %}
  <div>
    {% include "./filter.twig" with {filters} %}
  </div>
{% endset %}

{% set header %}
  <b class="temperature-modal__value">+23</b>
  <img src="images/temperature-colored.svg" alt="" />
{% endset %}

{% include "modal.twig" with {
  class: "temperature-modal",
  title: "Elgato Eve Degree Connected",
  subtitle: "Включено",
  header,
  content,
  type: "temperature"
} %}
