.reset-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.disable-empty-links() {
  &:not([href]) {
    pointer-events: none;
  }
}

.right-spacer(@width) {
  &::after {
    content: "";
    flex-shrink: 0;
    display: block;
    width: @width;
    background: transparent;
  }
}

.phone-only(@rules) {
  @media (max-width: @tablet-width - 1px) {
    @rules();
  }
}

.tablet-up(@rules) {
  @media (min-width: @tablet-width) {
    @rules();
  }
}

.desktop-up(@rules) {
  @media (min-width: @desktop-width) {
    @rules();
  }
}
