<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Яндекс Дом</title>
  <link rel="stylesheet" href="styles/style.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="layout">
    {% include "modules/header.twig" %}
    {% include "modules/dashboard.twig" %}
    {% include "modules/footer.twig" %}
  </div>
  {% include "modules/heat-modal.twig" %}
  {% include "modules/lighting-modal.twig" %}
  {% include "modules/temperature-modal.twig" %}
  <script src="scripts/vendor.min.js"></script>
  <script src="scripts/script.min.js"></script>
</body>
</html>
