<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Яндекс Дом</title>
  <link rel="stylesheet" href="styles/style.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  {% include "modules/header.twig" %}
  {% include "modules/dashboard.twig" %}
  {% include "modules/footer.twig" %}
  <script src="scripts/script.min.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
