.circular-range {
  position: relative;
  display: flex;
  width: 221px;
  height: 221px;
  margin: 102px auto 81px;

  .tablet-up({
    margin: 0 auto;
  });
}

.circular-range__info {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 186px;
  height: 186px;
  margin: auto;
  background: url(../images/circular-range-bg.svg);
}

.circular-range__value {
  font-size: 66px;
  font-weight: bold;
  line-height: 1.15;
}

.circular-range__scale {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: black;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 64px 110px;
    border-color: transparent transparent white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    left: -1px;
    top: -1px;
    width: 223px;
    height: 223px;
    background: url(../images/circular-range-scale.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.circular-range__path {
  width: 100%;
  height: 50%;
  border-radius: 286px 286px 0 0;
  background: red;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  transform: rotate(15deg);
}
