.dashboard {
  flex-grow: 1;
  padding-top: 64px;

  .small-tablet-up({
    padding-top: 0;
  });

  .tablet-up({
    padding-top: 30px;
  });
}

.dashboard__container {
  display: flex;

  .tablet-down({
    flex-wrap: wrap;
  });

  .tablet-up({
    margin-bottom: 26px;
  });
}

.dashboard__scenarios-wrapper {
  width: 100%;
  margin-bottom: 20px;

  .tablet-up({
    width: 430px;
    margin: 0;
  });

  .desktop-hd-up({
    width: 645px;
  });
}

.dashboard__info-wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 30px;

  .tablet-up({
    width: calc(100% - 430px);
    margin: 0;
    padding: 0 10px 0 0;
  });

  .desktop-hd-up({
    width: calc(100% - 645px);
  });
}
