.filter {
  position: relative;
  margin-left: auto;
}

.filter--select {
  .filter__list {
    display: flex;

    .tablet-down({
      position: absolute;
      right: 0;
      z-index: 1;
      visibility: hidden;
      flex-direction: column;
      padding: 10px 0;
      background: white;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      opacity: 0;
      transform: translateY(-20px) scale(0.8);
      transition: @transition;
    });

    &--opened {
      opacity: 1;
      visibility: visible;
      transform: translateY(0) scale(1);
    }
  }

  .filter__item {
    margin-right: 0;

    .tablet-up({
      margin-right: 10px;
    });
  }

  .filter__button {
    width: 100%;
    padding: 4px 20px;
    border-radius: 0;
    background: white;

    .tablet-up({
      padding: 4px 15px;
      border-radius: 20px;
      background: @gray-lighter;
    });

    &--active {
      background: fade(@yellow, 50%);

      .tablet-up({
        background: @yellow;
      });
    }
  }

  .filter__current {
    display: inline-block;

    .tablet-up({
      display: none;
    });
  }
}

.filter__list {
  .reset-list();

  display: flex;
  overflow: auto;
}

.filter__item {
  flex-shrink: 0;
  margin-right: 10px;
}

.filter__button {
  padding: 4px 16px;
  border-radius: 20px;
  background: @gray-lighter;
  font-size: 13px;
  text-align: left;

  .tablet-up({
    font-weight: bold;
    padding: 5px 14px;
  });

  &:hover {
    background: @gray-light;
  }

  &--active {
    background: @yellow;

    &:hover {
      background: @yellow-dark;
    }
  }
}

.filter__current {
  display: none;
  padding: 5px 15px;
  vertical-align: middle;
  background: @yellow;
  border-radius: 20px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background: @yellow-dark;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 2px;
    margin-right: -2px;
    background: url(../images/arrow-left.svg) no-repeat 50% 50%;
    transform: rotate(-90deg) scale(0.7);
    vertical-align: -4px;
  }
}
