.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 12px 0;
  background: white;

  .small-tablet-up({
    position: static;
    padding: 26px 0 30px;
  });

  .tablet-up({
    position: static;
    border-bottom: 1px solid @gray-light;
  });
}
