.info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info__card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 330px;
  padding: 20px 0;
  border-radius: 20px;
  background: #dfd9d2 url(../images/info-bg@1x.png) no-repeat center / cover;
  overflow: hidden;

  .desktop-hd-up({
    flex-direction: row;
    padding: 0 20px;
  });

  .retina({
    background-image: url(../images/info-bg@2x.png);
  });
}

.info__title {
  .section-title();

  display: none;

  .tablet-up({
    display: block;
  });
}

.info__content {
  padding: 0 20px;
  flex-grow: 1;

  .desktop-hd-up({
    padding: 20px 0;
  });
}

.info__greeting {
  font-size: 18px;
  line-height: 1.14;

  .tablet-up({
    font-size: 22px;
  });

  .desktop-up({
    font-size: 27px;
  });
}

.info__status-message {
  margin: 0;
  font-size: 12px;
  line-height: 1.14;

  .tablet-up({
    font-size: 14px;
  });
}

.info__devices {
  .tablet-down({
    width: 100%;
  });

  .tns-inner {
    height: 100% !important;
  }
}

.info__devices-list {
  .reset-list();

  .desktop-hd-up({
    height: 100%;
  });
}

.info__devices-item {
  outline: none;
}
