.info__card {
  display: flex;
  flex-direction: column;
  max-height: 330px;
  padding: 20px 0;
  border-radius: 20px;
  background: #dfd9d2 url(../images/info-bg@1x.png) no-repeat center / cover;
  overflow: hidden;

  .desktop-hd-up({
    flex-direction: row;
    padding: 0 20px;
  });

  .retina({
    background-image: url(../images/info-bg@2x.png);
  });
}

.info__title {
  .section-title();

  display: none;

  .tablet-up({
    display: block;
  });
}

.info__content {
  padding: 0 20px;
  flex-grow: 1;

  .desktop-hd-up({
    padding: 20px 0;
  });
}

.info__greeting {
  font-size: 18px;
  line-height: 1.14;

  .tablet-up({
    font-size: 22px;
  });

  .desktop-up({
    font-size: 27px;
  });
}

.info__status-message {
  margin: 0;
  font-size: 12px;
  line-height: 1.14;

  .tablet-up({
    font-size: 14px;
  });
}

.info__devices {
  padding: 0 20px;
  //overflow: auto;

  .desktop-hd-up({
    padding: 20px 0;
  });
}

//.tns-inner {
//  height: 400px !important;
//}

.info__devices-list {
  .reset-list();
  .right-spacer(20px);

  //display: flex;
  //min-height: 400px;
  //
  //.desktop-hd-up({
  //  flex-direction: column;
  //});
}

.info__devices-item {
  margin-right: 20px;

  &:last-of-type {
    margin: 0;
  }

  .desktop-hd-up({
    margin-right: 0;
    margin-bottom: 15px;
  });
}
