.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: fade(@gray-dark, 50%);
  //border: 20px solid transparent;
  opacity: 1;
  overflow: auto;
  transition: @transition;

  .tablet-up({
    align-items: center;
  });

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }
}

//@keyframes pop-up {
//  0% {
//    top: 0;
//    left: 0;
//    transform: var(--start-point);
//  }
//
//  100% {
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//  }
//}
//
//.modal--opened .modal__container {
//  animation: pop-up 0.2s cubic-bezier(0.42, 0, 0.58, 1);
//  animation-fill-mode: forwards;
//}
//
//@keyframes sss {
//  0% {
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//  }
//
//  100% {
//    top: 0;
//    left: 0;
//    transform: var(--start-point);
//  }
//}
//
//.modal--hidden .modal__container {
//  animation: sss 0.2s cubic-bezier(0.42, 0, 0.58, 1);
//}

.modal__container {
  width: 100%;
  margin: auto;
  //transform-origin: top left;
  //will-change: transform;

  .tablet-up({
    width: 630px;
  });
}

.modal__header {
  display: flex;
  flex-wrap: wrap;
}

.modal__content {
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 20px;
  background: white;

  .tablet-up({
    margin-bottom: 20px;
    padding: 25px;
  });
}

.modal__title {
  display: block;
  margin: 0;
  font-size: 18px;
  line-height: 1.17;

  .tablet-up({
    font-size: 22px;
  });

  .desktop-hd-up({
    font-size: 27px;
  });
}

.modal__subtitle {
  order: 1;
  width: 100%;
  margin: 0;
  font-size: 12px;
  line-height: 1.17;

  .tablet-up({
    font-size: 14px;
  });
}

.modal__side {
  margin-left: auto;

  .tablet-down({
    display: none;
  });
}

.modal__filter {
  margin: 0 -20px;

  .filter__list {
    padding-left: 20px;
  }
}
