.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: fade(@gray-dark, 50%);
  opacity: 1;
  transition: @transition;

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.modal__backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  filter: blur(1px);
}

@keyframes pop-up {
  0% {
    top: 0;
    left: 0;
    transform: var(--start-point);
  }

  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal--opened .modal__container {
  animation: pop-up 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  animation-fill-mode: forwards;
}

@keyframes sss {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  100% {
    top: 0;
    left: 0;
    transform: var(--start-point);
  }
}

.modal--hidden .modal__container {
  animation: sss 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.modal__container {
  position: absolute;
  width: 100%;
  border-radius: 20px;
  background: white;
  transform-origin: top left;
  will-change: transform;

  .tablet-up({
    width: 566px;
    padding: 32px 0 46px;
  });
}

.modal__title {
  display: block;
  margin-bottom: 24px;
  text-align: center;
  font-size: 22px;
  line-height: 1.2;
}
