.scenarios {
  position: relative;

  .tns-controls {
    top: 0;
    right: 0;
  }

  .tns-outer {
    .tablet-down({
      margin: 0 -20px;
    });
  }

  .tns-ovh {
    transform: translate3d(0, -5px, 0);

    .tablet-down({
      padding: 0 20px;
    });

    .tablet-up({
      transform: translate3d(5px, -5px, 0);
    });
  }

  .tns-inner {
    padding: 5px 0;

    .tablet-up({
      padding: 5px;
    });
  }
}

.scenarios__list {
  .reset-list();
}

.scenarios__item {
  outline: none;
}
