.scenarios {
  position: relative;

  .tns-controls {
    top: 0;
    right: 0;
  }

  .tns-outer {
    .tablet-down({
      margin: 0 -20px;
    });
  }

  .tns-ovh {
    .tablet-down({
      padding: 0 20px;
    });
  }
}

.scenarios__list {
  .reset-list();
}

.scenarios__item {
  outline: none;
}
