.secondary-nav {
  .reset-list();

  .tablet-down({
    margin-bottom: 20px;
  });
}

.secondary-nav__item {
  display: inline-block;
  margin-right: 13px;
}

.secondary-nav__link {
  font-size: 12px;
}
